<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- Example link -->
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.3 0.3 0.15" />
            </geometry>
        </visual>
            
    </link>
    <!-- Example material -->
    <material name="white">
        <color rgba="1 1 1 1" />
    </material>
    <!-- Example Joint-->
    <joint name="chassis_joint" type="fixed">
        <parent link="base_link" />
        <child link="chassis" />
        <origin xyz="-0.1 0.3 0.3" />
    </joint>

</robot>